<div class="container">
  <%= simple_form_for(@van) do |f| %>
    <%= f.input :nb_seats %>
    <%= f.input :brand %>
    <%= f.input :description %>
    <%= f.input :localisation %>
    <%= f.input :van_url %>
    <%= f.submit class:"btn btn-primary" %>
  <% end %>
</div>
