<h2><%= @van.nb_seats %></h2>
<p><%= @van.brand %></p>
<p><%= @van.description %></p>
<p><%= @van.localisation %></p>
<p><%= @van.user_id %></p>
<p><%= @van.created_at %></p>
<p><%= @van.updated_at %></p>
