<br>
<h1>Profile</h1>
<br>
<div>
<%= current_user.email %>
</div>
<div class="container py-5 mb-5">
  <div class="card-product">
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    <div class="card-product-infos">
      <h2><i class="fas fa-medal"></i>Super Van</h2>
      <h2> ⭐ 1200 commentaires </h2>
      <br>
      <h2>Mathieu</h2>
      <br>
      <h2>30 ans, habite à Lille</h2>
      <p>Passioné de voyage, j'adore utiliser mon van pour partir en vadrouille.<br>
      Très pratique, il est full <strong>équipé</strong>, que ce soit pour cuisiner, dormir ou juste s'installer dedans et vaquer à mes occupations</p>
    </div>
  </div>
</div>

<div class="container" id="bookings">
  <div class="row">
    <div class="col-12 col-lg-6">
      <h2>My vans that I want to rent</h2>
      <% current_user.bookings.each do |booking|%>
        <% van = Van.find(booking.van_id) %>
        <br>
        <div class="card mb-4" style="width: 25rem; height: 545px;">
          <br>
          <img src= <%= van.van_url %> class="card-img-top" alt="...">
          <div class="card-body">
            <div class="card-title">
              <p>💡 <%= van.description %></p>
            </div>
            <div class="card-text text-center">
              <p>Brand: <%= van.brand %></p>
              <p>Seats: <%=van.nb_seats %></p>
              <p>Location: <%=van.localisation %></p>
              <p>Status: <%=booking.status %></p>
            </div>
          </div>
        </div>
      <% end  %>
    </div>

    <div class="col-12 col-lg-6">
      <h2>My vans that people wants to rent</h2>
      <br>
      <% current_user.vans.each do |van| %>
        <% @bookings = Booking.where(van: van) %>
        <% @bookings.each do |booking| %>

          <% Van.find(booking.van_id).description %>
          <div class="card mb-4" id="booking-<%= booking.id %>"style="width: 25rem; height: 545px;">
            <br>

            <img src= <%= van.van_url %> class="card-img" alt="...">
            <br>
            <div class="card-body">
              <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm"/>
              <br>
              <br>
              <p>👋 "Hi, please, I'd like to rent your van"</p>
            </div>
            <% if booking.status == "Accepted"  %>
              <p class="btn btn-success">ACCEPTED</p>
            <% elsif booking.status == "Declined"  %>
              <p class="btn btn-warning">DECLINED</p>
            <% else  %>
              <%=link_to 'ACCEPTED', accepted_booking_path(booking), method: :patch, class:"btn btn-success" %>
              <%=link_to 'DECLINED', declined_booking_path(booking), method: :patch, class:"btn btn-warning" %>
            <% end  %>
            <br>
            <br>
          </div>
        <% end %>
      <% end %>
      <br>
    </div>
  </div>
</div>
