
<br>
<h1>Profile</h1>
<br>
<div class="container py-5 mb-5">
  <div class="card-product">
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    <div class="card-product-infos">
      <h2><i class="fas fa-medal"></i>Super Van</h2>
      <h2> ⭐ 1200 commentaires </h2>
      <br>
      <h2>Bonjour, je m'appelle Mathieu</h2>
      <br>
      <h2>J'ai 30 ans et j'habite à Lille</h2>
      <p>Passioné de voyage, j'adore utiliser mon van pour partir en vadrouille.<br>
      Très pratique, il est full <strong>équipé</strong>, que ce soit pour cuisiner, dormir ou juste s'installer dedans et vaquer à mes occupations</p>
    </div>
  </div>
</div>

<h1>profile page</h1>
<%= current_user %>
<%= current_user.email %>
<h2>vans i want to rent</h2>
<% current_user.bookings.each do |booking|%>
  <% van = Van.find(booking.van_id) %>
  <p> <%= van.brand %> </p>
<% end  %>  
<h2>my vans that people wants to rent</h2>
<% current_user.vans.each do |van| %>
  <% @bookings = Booking.where(van: van) %>
  <br>
  <% @bookings.each do |booking| %>
    <%= Van.find(booking.van_id).brand %>
    <%=link_to 'ACCEPTED', accepted_booking_path(booking), method: :patch  %>
    <%=link_to 'DECLINED', declined_booking_path(booking), method: :patch  %>
  <% end %>
  
<% end %>

